[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo
[submodule "public"]
	path = public
	url = https://github.com/openessence/openessence.github.io
	branch = master
